.underline{
    text-decoration: none;
    font-size: 24px;
}
.logoSpan{
    /* border: 1px solid black; */
    color: black;
    /* border-radius: 50%; */
}

.underline:hover{
    /* background-color: ; */
    text-decoration: underline;
}
.underlineSM{
    text-decoration: none;
}
.underlineSM:hover{
    text-decoration: underline;
}
.linkHover{
    transition: color 0.3s ease;
    /* position: relative; */
}
.linkHover:hover{
    /* background-color: grey; */
    color: #3167eb;
}

.transformNavbar{
    transition: all 0.3s ease;
}